<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Список постів</title>
</head>
<body>
    <h1>Список постів</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                - автор:
                {% if post.author %}
                    <a href="{% url 'posts_by_author' post.author.pk %}">{{ post.author.name }}</a>
                {% else %}
                    невідомий
                {% endif %}
            </li>
        {% empty %}
            <li>Постів ще немає.</li>
        {% endfor %}
    </ul>
</body>
</html>
